[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "resizableSplitLayout"]
	path = resizableSplitLayout
	url = https://github.com/cran/resizableSplitLayout
[submodule "rtf"]
	path = rtf
	url = https://github.com/schaffman5/rtf
